body {
	margin: 5px 50px;
	background-color: #ebebeb;
}
.mainBody {
	background-image: url(download.jfif);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
#titlePage {
	font-size: 45px;
	color: #8d1c3d;
}
.top {
	display: flex;
	font-family: 'Inter';
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

#button {
	background-color: #8d1c3d;
	font-family: 'Inter';
	color: white;
	padding: 14px 33px;
	border-radius: 30px;
	text-decoration: none;
	margin: 37px 3px;
	cursor: pointer;
	align-self: start;
	font-weight: 500;
}

#botones {
	background-color: #8d1c3d;
	font-family: 'Inter';
	color: white;
	padding: 15px 39px;
	border-radius: 30px;
	text-decoration: none;
	margin: 27px 3px;
	cursor: pointer;
	align-self: start;
	border: none;
	font-weight: 500;
	filter: drop-shadow(0px 36px 146px rgba(141, 28, 61, 0.15));
	box-shadow: 0px 46px 130px rgba(0, 0, 0, 0.25);
}

#button2 {
	font-family: 'Inter';
	color: #8d1c3d;
	padding: 12px 23px;
	border-radius: 30px;
	text-decoration: none;
	margin: 37px 3px;
	cursor: pointer;
	align-self: start;
	border: solid;
	font-weight: 500;
}

.type {
	border: 0;
	outline: 0;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 16px;
	color: #252525;
	background: none;
	height: 35px;
	padding: 9px 0px 0px 0px;
	border-bottom: 1.5px solid #9fa09f;
}

form {
	margin: 100px;
}

#arrow {
	width: 30px;
}
