body {
	margin: 5px 50px;
	background-color: #ebebeb;
}
.mainBody {
	background-image: url(download.jfif);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
#titlePage {
	font-size: 45px;
	color: #8d1c3d;
}
.dashButton {
	display: flex;
	margin: 10px;
	height: 189px;
	width: 300px;
	background-color: #8d1c3d;
	border-radius: 25px;
	justify-content: center;
	align-items: center;
}

.top {
	display: flex;
	font-family: 'Inter';
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
.bottom {
	display: flex;
	font-family: 'Inter';
	color: #ebebeb;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#button {
	background-color: #8d1c3d;
	font-family: 'Inter';
	color: white;
	padding: 14px 33px;
	border-radius: 30px;
	text-decoration: none;
	margin: 37px 3px;
	cursor: pointer;
	align-self: start;
	font-weight: 500;
}

#botones {
	background-color: #8d1c3d;
	font-family: 'Inter';
	color: white;
	padding: 15px 39px;
	border-radius: 30px;
	text-decoration: none;
	margin: 27px 3px;
	cursor: pointer;
	align-self: start;
	border: none;
	font-weight: 500;
	filter: drop-shadow(0px 36px 146px rgba(141, 28, 61, 0.15));
	box-shadow: 0px 46px 130px rgba(0, 0, 0, 0.25);
}

#button2 {
	font-family: 'Inter';
	color: #8d1c3d;
	padding: 12px 23px;
	border-radius: 30px;
	text-decoration: none;
	margin: 37px 3px;
	cursor: pointer;
	align-self: start;
	border: solid;
	font-weight: 500;
}

.type {
	border: 0;
	outline: 0;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 16px;
	color: #252525;
	background: none;
	height: 35px;
	padding: 9px 0px 0px 0px;
	border-bottom: 1.5px solid #9fa09f;
}

form {
	margin: 100px;
}

.matches {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
}
.match-container {
	border: 1px solid gray;
	border-radius: 10px;
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	cursor: pointer;
}
.match-container:hover {
	box-shadow: 0 0 9px rgb(100 0 0 / 45%);
	transition: 0.2s;
	background-color: #8d1c3d;
	color: white;
}
.match-result {
	display: flex;
	gap: 10px;
	justify-content: space-evenly;
	align-items: center;
}
.flag {
	width: 25px;
	height: 25px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
}
.result-country {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7px;
}
.result-score {
	font-weight: 600;
	min-width: 20px;
	text-align: center;
}
.match-footer {
	font-size: 0.7em;
}

#arrow {
	width: 30px;
}

#notification-container {
	display: block;
	position: absolute;
	bottom: 10px;
	font-size: 0.7em;
	max-width: 200px;
	right: 10px;
}
.notification {
	background: black;
	color: white;
	padding: 7px 15px;
	border-radius: 15px;
	box-shadow: 0px 0px 5px black;
}
.notification.notification-success {
	background: green;
}

.notification.notification-error {
	background: rgb(150, 0, 0);
}
.notification-title {
	font-weight: 600;
	font-size: 1.6em !important;
	margin-bottom: 10px;
}
.notification-close {
	border: none;
	background: none;
	width: 100%;
	color: white;
	padding: 7px 7px;
	cursor: pointer;
}
.teamsDad {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}
.teamsSon {
	flex: 1 0 20%; /* explanation below */
	margin: 5px;
	height: 100px;
	text-align-last: center;
}
#linkfont {
	font-family: 'Inter';
	text-decoration: none;
	color: #252525;
	font-weight: 500;
	vertical-align: text-top;
}

#starImage {
	vertical-align: middle;
}

#starImage:hover {
	cursor: pointer;
}

#linkDash {
	text-decoration: none;
	color: #ebebeb;
}
